/* Remove border-radius on window and child element */
window,
.titlebar,
headerbar,
decoration {
  border-radius: 0;
}

/* Remove box-shadow on window */
window,
decoration {
  box-shadow: none;
}

/* No (default) title bar on wayland */
headerbar.default-decoration {
  margin-bottom: 50px;
  margin-top: -100px;
}
